<header>
    <a href="/">
        <img src="/heartbeat.png" width={60} height={60} alt="Heartbeat Icon" />
        <p>blog</p>
    </a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 96px;
        max-width: 80rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        display: flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
    }
    a p {
        text-transform: uppercase;
        font-weight: 900;
        color: #18181b;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    ul {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    li a {
        color: #134e4a;
        font-weight: 700;
    }
</style>
