<main>
    <slot />
</main>

<style>
    main {
        padding: 0px 96px 0px 96px; 
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>
